header
{
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
}
body.acceuil
{
    background-color: white;
}
/*.bienvenue
{
    text-align: center;
    color: black;
    background-color: white;
}*/

/*.presentation
{
    margin-top: 15%;
}*/
.Bienvenue
{
    width: 100%;
    margin-top: 70px;
}

.en_tete
{
    text-align: center;
    font-size: 30px;
}
.pages_principales
{
    background-color: darkgray;
    background: linear-gradient(90deg, gray, white);
    border: thick double;
    border-radius: 30px;
    border-style: outset;
}

.pages_principales:hover
{
    background: linear-gradient(90deg, gold, white);
    font-size: 35px;
    transition: 0.5s;
}

section.page_accueil
{
    background-image: url(./images/Mode.png);
    color: black;
    text-align: justify;
    font-size: 25px;
    padding-left: 5%;
    padding-right: 5%;
    height: 400px;
    width: 1100px;
}

img.boutique
{
    height: 200px;
    width: 250px;
}
img.boutique:hover
{
    height: 250px;
    width: 300px;
    transition: 0.5s;
}

.logo_boutique
{
    height: 90px; 
    width: 100px;
}

div.article
{
    display: flex;
    border: 10px solid black;
}

.BoutonBoutique:active
{
    background-color: chartreuse;
}

body
{
    background-color: gray;
    color: honeydew;
    border: 5px solid blanchedalmond;
}

table.datatable
{
    border: solid black;
    border-collapse: collapse;
    width: 100%;
    margin-top: 50px;
    width: 90%;
}

.celules
{
    border: solid black;
}

.datatable td
{
    border: solid black;
}

footer
{
    display: flex;
    margin-top: 2%;
    background-color: blanchedalmond;
}

.Apropos
{
    border:thick;
    border-radius: 5%;
    background: linear-gradient(90deg, red, white)
}
.Apropos:hover
{
    background: linear-gradient(90deg, gold, white);
    font-size: 25px;
    transition: 0.5s;
}